
<div *ngIf="isShowProgress">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div class="jumbotron">

    
    <form  #registerForm="ngForm" (ngSubmit)="register(registerForm)" >
        <div class="form-group">
            <div class="form-row">
                    <div class="col-md-6">
                        <label for="fname">First name</label>
                        <input id="fname" name="firstName" ngModel type="text" class="form-control" placeholder="Samuel" required>
                    </div>

                    <div class="col-md-6">
                        <label for="lname">Last name</label>
                        <input id="lname" name="lastName" ngModel type="text" class="form-control" placeholder="Doh" required>
                    </div>

                    <div class="col-md-6">
                        <label for="email">Email Address</label>
                        <input id="email" name="email" ngModel type="email" class="form-control" placeholder="example@email.com" required>
                    </div>

                    <div class="col-md-6">
                        <label for="contact">Contact</label>
                        <input id="contact" name="contact" ngModel type="tel" class="form-control" placeholder="+233XXXXXXX" required>
                    </div>

                   
            </div><hr>
             <div class="col-md-12">
                        <input *ngIf="!isShowProgress" type="submit" value="Submit" class="form-control btn btn-sm btn-info">
                    </div>
        </div>

    </form>
</div>
